@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #fff0dd;
  padding: 0px 10vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.header-title {
  font-family: 'Playfair Display';
  color: white;
  font-size: 24px;
  font-weight: 700;
  background-color: #b2454a;
  padding: 20px 0px;
  padding-left: 40px;
}

.header-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: 'Plus Jakarta Sans';
  color: #121212;
  font-weight: 500;
  padding: 20px 0px;
  padding-left: 150px;
  grid-gap: 15px;
  place-items: center end;
}

.sushi-pic {
  position: absolute;
  top: 10vh;
  width: 600px;
}

.hero-text {
  background-color: #b2454a;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 120px;
  color: white;
  display: grid;
  place-items: end start;
}

.hero-content {
  display: grid;
  grid-gap: 40px;
}

.hero-content-inner {
  padding: 50px 100px;
  display: grid;
  grid-gap: 40px;
}

.hero-title {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 80px;
}

.hero-subtitle {
  font-family: 'Plus Jakarta Sans';
  color: #121212;
  font-size: 20px;
  line-height: 32px;
}

.hero-buttons {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 30px;
  align-items: center;
  text-align: center;
}

.how-to-order {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: 10px;
  place-items: center;
}

.how-to-order-text {
  color: #020202;
  font-family: 'Plus Jakarta Sans';
}

.hero-stats {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 60px;
  background-color: white;
  padding: 30px 0px;
  place-items: center;
}
.hero-stats .stat-item:last-child{
  border-left: 1px solid rgba(2, 2, 2, 0.1);
  padding-left: 30px;
}

.stat-item {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  place-items: center;
}

.stat-number {
  font-family: 'Playfair Display';
  font-size: 62px;
}

.stat-text {
  font-family: 'Plus Jakarta Sans';
  color: #121212;
}

.stat-user-image {
  width: 40px;
  border-radius: 100px;
}

.stat-quote {
  font-family: 'Plus Jakarta Sans';
  color: #121212;
  font-size: 12px;
  line-height: 32px;
}

.about-container {
  position: relative;
}

.about-image-container {
  display: grid;
  place-items: center;
  background-size: cover;
  background-position: top center;
}

.about-image-inner {
  padding: 80px 0px;
  display: grid;
  place-items: center;
  background-color: white;
  background-size: cover;
  background-position: top center;
  width: 100%;
}
.about-image-inner:first-child{
  background-image: url(assets/about_bg1.png);
}
.about-image-inner:last-child{
  margin-top: 10px;
  background-image: url(assets/about_bg2.png);
}
.about-image {
  width: 250px;
}

.learn-more {
  background-color: black;
  color: white;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 20px 32px;
  position: absolute;
  top: 50%;
  right: 0px;
  width: 30%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
}

.about-text-container {
  display: grid;
  grid-gap: 40px;
  padding: 100px;
}

.about-title {
  color: #b1454a;
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
}

.about-mission {
  font-family: 'Playfair Display';
  font-size: 64px;
  font-weight: 600;
  color: #121212;
}

.about-description {
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  color: #121212;
  line-height: 36px;
}

.menu-section {
  background-color: #b1454a;
  background-image: url(assets/popular_bg.png);
  background-size: cover;
  background-position: top center;
  padding: 100px 60px;
  display: grid;
  place-items: center;
  grid-gap: 70px;
}

.menu-title {
  font-family: 'Playfair Display';
  font-size: 56px;
  font-weight: 600;
  color: white;
}

.menu-categories {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  color: white;
}

.menu-category-all {
  background-color: white;
  color: #b1454a;
  border-radius: 46px;
  padding: 10px 28px;
  display: grid;
  align-items: center;
}

.menu-item-button {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 46px;
  padding: 10px 28px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  place-items: center;
}

.menu-item-button:hover {
  background-color: white;
  color: #b1454a;
  cursor: pointer;
}

.menu-item-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 40px;
  place-items: center;
}

.menu-item {
  display: grid;
  grid-gap: 30px;
  place-items: center;
  color: white;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 50px 0px;
  width: 300px;
}

.menu-item.selected-item {
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 90px 0px;
  color: #555555;
}
.menu-item.selected-item .menu-item-image{
  width: 150px;
  height: auto;
}
.menu-item .menu-item-image{
  width: 100px;
  height: auto;
}
.menu-item-name {
  font-family: 'Playfair Display';
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.menu-item-details {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
  font-family: 'Plus Jakarta Sans';
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.menu-item:nth-child(2) .menu-item-name {
  font-size: 32px;
  color: #555555;
}

.menu-item:nth-child(2) .menu-item-details {
  font-size: 24px;
  color: #888888;
}

.explore-food {
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: black;
  padding: 25px 40px;
  border-radius: 100px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  place-items: center;
  margin-top: 20px;
}

.explore-arrow {
  width: 20px;
}

.food-section {
  position: relative;
}

.food-section .food-container:last-child .food-image-container{
  background-image: url(assets/japanese_drinks.png);
  background-position: bottom;
  background-size: cover;
  position: relative;
}

.food-section .food-container:last-child .food-text-container{
position: relative;
}

.food-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.food-text-container {
  background-color: #fff0de;
  padding: 100px 0px;
  display: grid;
  place-content: center;
  grid-gap: 30px;
}

.food-title {
  color: #b1454a;
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
}

.food-heading {
  font-family: 'Playfair Display';
  font-size: 64px;
  font-weight: 600;
}

.food-description {
  color: #121212;
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
}

.food-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
  color: #121212;
  font-family: 'Plus Jakarta Sans';
}

.food-items-column {
  display: grid;
  grid-gap: 30px;
}

.food-item-checkmark-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  align-items: center;
}

.food-item-checkmark {
  width: 24px;
  height: 24px;
  background-image: url(assets/check.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  background-color: #b1454a;
}

.food-image-container {
  display: grid;
  place-items: center;
  background-color: white;
  background-position: center;
  background-size: contain;
  position: relative;
  background-image: url(assets/about_bg1.png);
}

.food-image {
  width: 240px;
}

.arrow-vertical {
  position: absolute;
  left: -2.5px;
  bottom: 0px;
}

.discover {
  background-color: black;
  color: white;
  position: absolute;
  left: calc(50% - 80px);
  top: 44%;
  z-index: 3;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  display: grid;
  place-items: center;
}

.arrow-vertical-right {
  position: absolute;
  right: -2.5px;
  top: 0%;
}

.arrow-horizontal {
  position: absolute;
  top: -2.5px;
  right: 0%;
}

.arrow-horizontal-left {
  position: absolute;
  top: -2.5px;
  left: 0%;
}

.services-section {
  background-color: #b1454a;
  display: grid;
  grid-gap: 80px;
  place-items: center;
  color: white;
  padding: 60px;
  background-image: url(/assets/subscribe_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.services-title {
  font-family: 'Playfair Display';
  font-size: 88px;
  font-weight: 600;
  text-align: center;
}

.services-subtitle {
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  font-weight: 300;
}

.newsletter-signup {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  place-items: center;
  padding: 20px 50px;
}

.get-started {
  background-color: #1f1e30;
  padding: 20px 40px;
  border-radius: 100px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center stretch;
  padding: 40px;
  background-color: white;
}

.footer-title {
  font-family: 'Playfair Display';
  font-size: 24px;
  font-weight: 700;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 30px;
  font-family: 'Plus Jakarta Sans';
  color: #121212;
  font-weight: 500;
}

.footer-icons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-self: end;
  align-items: center;
  grid-gap: 20px;
}

.social-icon {
  background-color: #121212;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.order-now-button {
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  background-color: black;
  color: white;
  border-radius: 100px;
  padding: 20px 0px;
  cursor: pointer;
}

a {
  all: unset;
  cursor: pointer;
}

input {
  all: unset;
}

input::placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 18px;
}

@media screen and (max-width: 1800px) {
  .sushi-pic{
    width: 500px;
  }
}

/* For large tablets and small desktops */
@media screen and (max-width: 1200px) {
  .container, .menu-section, .food-container, .services-section {
      grid-template-columns: 1fr; 
  }

  .sushi-pic {
      width: 400px;
      position: relative; 
      margin: 0 auto;
  }

  .hero-content-inner, .about-text-container, .food-text-container {
      padding: 20px; 
  }

  .menu-item {
      width: 220px; 
  }

  .hero-title {
      font-size: 60px; 
  }

  .hero-subtitle, .about-description, .food-description {
      font-size: 16px; 
  }

  .services-title, .about-mission {
      font-size: 48px; 
  }

  .footer {
      grid-template-columns: 1fr; 
      text-align: center;
  }

  .footer-icons, .footer-links {
      justify-content: center; 
      margin-top: 20px;
  }

  .arrow-vertical, .arrow-vertical-right, .arrow-horizontal, .arrow-horizontal-left {
    display: none; 
}
}

/* For tablets */
@media screen and (max-width: 768px) {
  .header-title, .hero-text, .menu-title, .food-title {
      padding-left: 20px; 
  }

  .header-links {
      padding-left: 20px; 
      grid-template-columns: repeat(3, 1fr); 
  }

  .hero-buttons, .hero-stats {
      grid-template-columns: 1fr; 
      text-align: center;
  }

  .stat-item {
      grid-template-columns: 1fr; 
  }

  .menu-categories {
      grid-template-columns: 1fr; 
  }

  .menu-items, .food-items {
      grid-template-columns: 1fr; 
  }

  .order-now-button, .how-to-order, .get-started {
      width: 100%; 
  }

  .food-items .food-items-column{
    margin-bottom: 28px;
  }
  .newsletter-signup{
    display: flex;
    flex-direction: column;
    border: 0;
    border-radius: 0;
    padding: 0;
  }
}

/* For mobile devices */
@media screen and (max-width: 480px) {
  body {
      padding: 0 2vw; 
  }

  .hero-text {
      font-size: 80px; 
  }

  .hero-content-inner, .about-text-container, .food-text-container {
      padding: 10px; 
  }

  .hero-title {
      font-size: 40px; 
  }

  .menu-item, .food-item {
      padding: 20px 0; 
  }

  .about-image, .food-image {
      width: 180px; 
  }

  .newsletter-signup {
      grid-template-columns: 1fr; 
      grid-gap: 20px;
  }

  .services-title {
      font-size: 36px; 
  }
}
